<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missing Tapes - Home</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<header>
    <div class="logo">
        <img src="/public/images/icon.jpg" alt="Missing Tapes Logo">
        <a href="http://localhost:3000/">Missing Tapes</a>
    </div>
    <nav>
        <a href="http://localhost:3000/catalogo">Catálogo</a>
        <a href="#">Login</a>
        <a href="#">Registro</a>
    </nav>
</header>
<div class="background">
    <div class="overlay"></div>
    <div class="cta-container">
        <h1 class="title">Descubra<br>novas<br>Missing Tapes</h1>
        <a href="/catalogo" class="cta-button">Explore o Catálogo</a>
    </div>
</div>
<main>
    <div class="background">
        <div class="overlay"></div>

    </div>
</main>
</body>
</html>