<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>deslogar</title>
  <link rel="stylesheet" href="logout.css">
</head>
<body>
<header>
  <div class="logo">
    <img src="/public/images/icon.jpg" alt="Missing Tapes Logo">
    <a href="http://localhost:3000/">Missing Tapes</a>
  </div>
  <nav>
    <a href="http://localhost:3000/catalogo">Catálogo</a>
    <a href="http://localhost:3000/login">Login</a>
    <a href="http://localhost:3000/logout">Logout</a>
    <a href="http://localhost:3000/cadastrar">Registro</a>
  </nav>
</header>
<form action="/logout" method="POST">
  <label>
    <button type="submit">Deslogar</button>
  </label>
</form>
</body>
</html>